@media (max-width: 768px) {
    main .text-hud h1 {
        font-size: 2.5rem;
    }

    main .text-hud p {
        font-size: 1.5rem;
    }

    main .text-hud .btn-register {
        width: 150px;
    }

    main .text-hud .btn {
        font-size: 2rem;
    }

    .footer .social i {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}

@media(max-width: 425px) {
    body {
        background: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #674bb1;
        padding: 40px;
    }

    .header {
        padding: 20px 0;
    }

    .header .logo {
        width: 150px;
    }

    main {
        /* display: grid; */
        grid-template-areas:
            'mockups'
            'text-hud';
        grid-template-columns: repeat(1, 2fr);
    }

    main .text-hud {
        align-items: center;
        text-align: center;
    }

    main .text-hud .btn-register {
        width: 250px;
    }

    .footer {
        justify-content: center;
    }

}