@media(max-width: 768px) {
    body {
        background: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        background-color: #674bb1;
        align-items: center;
    }

    header {
        display: flex;
        min-width: 100%;
    }

    header .logo {
        max-width: 150px;
    }

    main {
        grid-template-areas:
            'mockups'
            'text-hud';
        grid-template-columns: repeat(1, 2fr);
    }

    main .text-hud {
        align-items: center;
        text-align: center;
    }

    main .text-hud button {
        width: 150px;
        font-size: 1.5rem;
    }
}

@media(max-width: 425px) {
    body .header {
        justify-content: start;
        padding: 20px 0;
    }

    main .text-hud {
        align-items: center;
        text-align: center;
    }

    main .text-hud h1 {
        font-size: 2.5rem;
    }

    main .text-hud p,
    main .text-hud button {
        font-size: 1.5rem;
    }

    main .text-hud button {
        width: 200px;
        height: 35px;
    }
li{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
}
    i{
        font-size: 15px;
    }
}